__pycache__
.cache
backup
*~
*.pyc
*.pyo
*.pkl
*.nbc
*.nbi
*.txt
*.log
*.wpr
*.wpu
*.doc
*.zip
*.csv
*.png
*.dat
*.pdf
*.pkz
*.xlsx
*.htm
.coverage
.project
.pydevproject
.settings/
data
.ipynb_checkpoints/
!/*.txt
.idea/
config.yaml
news_data/
kaggle_data/
Python_ML/
price_csv/
news_data/
imdb_reviews/
capstone_websites_data/
cash.xlsx/
school_batches/
fsq/
IML_/
Preprocessed/
